{% extends "pages/base.html" %}

{% block title %}
Đăng Nhập
{% endblock %}

{% block login %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {% for key, value in form.errors.items %}
                <div class="alert alert-danger" role="alert">{{value}}</div>
    {% endfor %}
    <div class="form-group">
        <label for="InputName">Tên Đăng Nhập:</label>
        <input type="text" name="username" class="form-control" id="Name" required>
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password:</label>
        <input type="password" name="password" class="form-control" id="Password1" required>
    </div>
        <input type="hidden" name="next" value="/"/>
        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    </form>
{% endblock %}

{% block menu %}
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">Thanh Công Cụ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <div class="alert alert-danger" role="alert">
  Hành vi thay đổi cấu trúc và sử dụng phần mềm thứ 3 làm ảnh hưởng tới website sẽ phải hình phạt không báo trước từ hệ thống máy chủ 
</div>
      <a class="nav-item nav-link" href="{% url "edit_profile" %}">Thông Tin Cá Nhân</a>
      <a class="nav-item nav-link" href="{% url "napthe" %}">Nạp Thẻ</a>
      {% if user.isAdmin %}
      <a class="nav-item nav-link" href="{% url 'qtv' %}">Quản Trị Viên</a>
      {% endif %}
      <a class="nav-item nav-link" href="#">Liên Hệ</a>
    </div>
  </div>
</nav>

<!--List User-->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Uid</th>
      <th scope="col">Lượt</th>
    </tr>
  </thead>
  <tbody>
  {% for name in MyUser %}
    <tr>
      <td>{{name.username}}</td>
      <td>{{name.name}}</td>
      <td>{{name.uid}}</td>
      <td>{{name.luot}}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>
<!--List User end-->
{% if user.luot > 0 %}
<a href="{% url 'script' %}" class="btn btn-primary btn-lg active btn-lg btn-block" role="button" aria-pressed="true">Trình Tạo Script</a>
{% endif %}
<div class="alert alert-success" role="alert">
  Mức Phí: 5000đ cho 1 lượt
  Ưu đãi 25% cho các giao dịch bằng ví MoMo! 
    Hình thức: Chuyển khoản cho tài khoản 0344281263 - NGUYEN CAO KY với cú pháp "username mua lượt tạo Script"
    Sau đó liên hệ với quản trị viên <a href="https://m.me/KyNguyen.1704/" class="alert-link">tại đây</a> để cập nhật lượt.
</div>
{% endblock %}