{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Script Creation
{% endblock %}

{% block menu %}
<center>
		<canvas id="review"></canvas>
		<canvas id="view"></canvas>
</center>

{% if user.luot > 0 %}
{% if user.uid > 1000 %}
<input type="hidden" class="uid" value={{user.uid}}>
<input id="addpic" type='file' onchange="processImage(this,64);" />
		<center>
		<div style="background-color: white; width: 40%;">
			<center>
			<p  style="font-size: 80%;">
				<i>Chiều dài gốc: </i><b id="width_img">0</b> px 
			<br>
				<i>Chiều rộng gốc: </i><b id="height_img">0</b> px
			</p>
            <hr>
			<p  style="font-size: 80%;">
				<i>Chiều dài </i><b id="width_img_auto">0</b> px 
			<br>
				<i>Chiều rộng: </i><b id="height_img_auto">0</b> px
			</p>
			</center>
		</div>
		</center>
		<center>
			<img id="myImg" src=""  width="70%">
			<br>
			
			<br>
            
			        <button id="trade" class="btn btn-danger" onclick="getcode()">Chuyển sang script</button>
            
			<br>
            
			<br>
            <form action="." method="POST" onsubmit="download(this['name'].value, this['text'].value)">
			<input type="hidden" name="name" value="script.txt">
                {% csrf_token %}
				<label for="cars">Chọn kích thước:</label>
<input type="hidden" id="code" name="text" value="">
<select name="select" id="pixel">
  <option value="64">64 pixel (-1)</option>
  {% if user.luot >= 2 %}
  <option value="128">128 pixel (-2)</option>
  {% endif %}
  {% if user.luot >= 3 %}
  <option value="192">192 pixel (-3)</option>
  {% endif %}
  {% if user.luot >= 4 %}
  <option value="256">256 pixel (-4)</option>
  {% endif %}
  {% if user.luot >= 4 %}
  	{% if user.id <= 4 %}
  <option value="500">Only 500 PIXEL (-4)</option>
  	{% endif %}
  {% endif %}
</select>

                <button id="copy" type="submit" class="btn btn-warning" onclick="copyHere()" value="SAVE" style="visibility:hidden;">COPY SCRIPT</button>
            </form>
           <script>
                function copyHere() {
  					/*var copyText = document.getElementById("code");
  					alert("Copied!!!");
					var tempInput = document.createElement("input");
    				tempInput.style = "position: absolute; left: -1000px; top: -1000px";
    				tempInput.value = copyText.value;
    				document.body.appendChild(tempInput);
    				tempInput.select();
    				document.execCommand("copy");
    				document.body.removeChild(tempInput);*/
					 
  					return true;}
					  function copyHere_1(value) {
  if (textcode.value.length>0){
					var tempInput = document.createElement("input");
    				tempInput.style = "position: absolute; left: -1000px; top: -1000px";
    				tempInput.value = value;
    				document.body.appendChild(tempInput);
    				tempInput.select();
    				document.execCommand("copy");
    				document.body.removeChild(tempInput);
					document.getElementById('code').value="";
					document.getElementById('code').type="hidden";
 }
					  }
				
        	</script>
		</center>
	</div>
	<hr>

    <script>
function download(filename, text) {
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}</script>




<div id="myModal" class="modal">
  <div class="modal-content">
    Vui lòng không tắt hay làm mới trang đột ngột.
    <br>
    Chúng tôi không chịu tránh nhiệm về việc này!
    <br>
    Khi quá trình load hoàn tất
    <br>
    Vui lòng copy script và tự lưu lại
    <br>
    Waiting Loading...
    <progress id="loading" max="100" value="0" width="100%">Loading...</progress>
  </div>
</div>

<script src="{% static 'js/ajax-3.0.0.js' %}"></script>
<script src="{% static 'js/bootstraps.js' %}"></script>
{% endif %}
{% endif %}
{% endblock %}
